      ! ****************************************************************
      ! User inputs

      logical,public,parameter :: wrt_smflx = {{ surf_flux.wrt_smflx|lower }}              ! output surface momentum flux
      logical,public,parameter :: wrt_stflx = {{ surf_flux.wrt_stflx|lower }}              ! output surface tracer flux
      logical,parameter :: sflx_avg  = {{ surf_flux.sflx_avg|lower }}              ! write averaged sflx data

      real,parameter           :: output_period = {{ surf_flux.output_period }}       ! output averaging period in seconds
      integer,parameter        :: nrpf          = {{ surf_flux.nrpf }}        ! total recs per file


      ! edit variable name and time name to match input netcdf file if necessary:          
      type (ncforce) :: nc_sst  = ncforce(vname='{{ surf_flux.sst_vname }}',tname='{{ surf_flux.sst_tname }}' )       ! sea-surface temperature (SST) data
      type (ncforce) :: nc_sss  = ncforce(vname='{{ surf_flux.sss_vname }}',tname='{{ surf_flux.sss_tname }}' )       ! sea-surface salinity (SSS) data

      ! interpolate forcing from coarser input grid (=1) or not (=0)
      integer :: interp_frc = {{ surf_flux.interp_frc }} ! For SST and SSS correction

      ! End of user inputs
      ! *************************************************************

