exclude: '^(?!cstar/).*'
ci:
  autoupdate_schedule: monthly
files: '^cstar/'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    
    hooks:
      - id: trailing-whitespace
        exclude: \.in$
      - id: end-of-file-fixer
        exclude: \.in$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=100']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
      - id: mypy
        name: mypy
        additional_dependencies:
          - types-python-dateutil
          - types-requests
          - types-pyyaml
        types: [python]

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
        args: [--application-directories=.]
