[ROMS]
#tag = first_tag
hash=d26816863e75d6eff3ee8b1eeb83a4b6da803ff1
protocol = git
repo_url = https://github.com/dafyddstephenson/ucla-roms.git
local_path = externals/ucla-roms
required = True

[MARBL]
tag = marbl0.45.0
protocol = git
repo_url = https://github.com/marbl-ecosys/MARBL.git
local_path = externals/MARBL
required = True

[externals_description]
schema_version = 1.0.01
