name: cstar_env
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - numpy
  - roms-tools>=3.5,<4
  - compilers
  - netcdf-fortran
  - mpich
  - xarray
  - netCDF4
  - pip
  - jupyterlab
  - ipykernel
  - rsync
  # only needed for building docs
  - pandoc
