name: cstar_env
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - numpy
  - roms-tools
  - compilers
  - netcdf-fortran
  - mpich
  - xarray
  - netCDF4
  - pydantic>=2.11
  - pytimeparse>=1.1.8
  # tests
  - pytest
  - pip
  # testing
  - pre-commit==3.8.0
  - coverage
  - pytest
  - pytest-asyncio
  # docs
  - nbsphinx
  - sphinx
  - sphinxcontrib-bibtex
  - sphinx-book-theme
  - sphinx-design
 - pip:
    - readthedocs-sphinx-ext
  # for running jupyter notebooks
  - ipykernel
